@import 'tailwindcss';
@import '@aws-amplify/ui-react/styles.css';
@import '@tailwindcss/typography';

@theme {
	--color-cream-100: #f5f0e5;
	--color-cream-150: #efe9dc;
}

[data-amplify-authenticator] {
	height: 100vh;
}

:root,
[data-amplify-theme] {
	--amplify-colors-primary-80: oklch(54.6% 0.245 262.881);
	--amplify-colors-primary-90: oklch(48.8% 0.243 264.376);
	--amplify-colors-border-focus: oklch(67.2% 0.0937 264.376);
}
